/* Hero Section */

body{
    font-family: "Lato", sans-serif;
}

h1 {
    font-weight: 400;
    text-shadow: #333 2px 2px;
    padding-inline: 5px;
}

.card{
    height: 100%;
    width: auto;
}

.btn{
    border-radius: 40px;
    padding-inline: 25px;
}

.nav-link {
  font-weight: 500 !important;
  color: #000000;
}

.hero-section {
position: relative;
background-image: url('/images/bg.jpg'); /* Update with your image path */
background-size: cover;
background-position: center;
width: auto;
height: 1000px;
display: flex;
align-items: center;
justify-content: center;
}
  
.hero-section .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}

.hero-section .content {
position: relative;
z-index: 2;
}

.hero-section h1, .hero-section p {
margin: 0;
}

/* Additional Section Above Footer */
.additional-section {
padding: 60px 0;
background-color: #f9f9f9;
}

.additional-section h3 {
font-weight: 700;
margin-bottom: 20px;
}

.additional-section p {
font-size: 1.1em;
line-height: 1.5;
}

.additional-section img {
max-width: 100%;
height: auto;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Upcoming Events Section */
.upcoming-events {
  display: flex;
  overflow-x: auto;
  padding-bottom: 15px;
}

.upcoming-events .card {
  min-width: 200px;
}

.partner-logo {
  max-width: 150px;
  margin: 0 10px;
}

.how-it-works-section {
  background-size: cover;
  background-position: center;
}

.card.bg-light {
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#auth > .card {
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#auth > .input-group-text {
  cursor: pointer;
}

#auth > img.img-fluid {
  max-height: 100vh;
  object-fit: cover;
}

/* Footer */
.footer {
background-color: #333;
color: #fff;
}

.footer a {
color: #fff;
}

.footer .list-inline-item {
margin-right: 15px;
}

.footer .list-inline-item a {
color: #fff;
font-size: 1.5em;
}

.footer .list-inline-item a:hover {
color: #ccc;
}
  